:root {
	--secondary-color: black;
	--primary-color: white;
};

body {
	margin: 0;
	padding: 50px 0 0 0;
	width: 100%;
	font-weight: 500;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: var(--primary-color);
}
html {background-color: var(--primary-color)}

.section {
	background-color: var(--primary-color);
	/*padding: 30px 0 0 0;*/
}

.section-container {
	width: 90%;
	margin: 0 auto;
}

.title {
	padding-top: 30px;
	font-size: 96px;
	font-weight: 400;
	text-align: center;
	color: var(--secondary-color);
}

.bio {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: var(--secondary-color);
	margin-bottom: 30px;
}

.links {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}

.portrait-container {
	text-align: center;
	margin-bottom: 30px;
}

.portrait-container img {
	width: 240px;
	text-align: center;
}

.section-title {
	font-weight: 400;
	font-size: 48px;
	padding:20px;
	color: black;
	text-align: center;
}

.project {
	margin-top: 30px;
	display: inline-flex;
}

.project-image {
	display: inline-block;
	margin: auto 0;
	text-align: center;
	width: 25%;
}

.project-image img {
	/*width: 100%;*/
	/*max-width: 350px;*/
	max-height: 170px;
}

.project-text {
	display: inline-block;
	width: 75%;
	margin-left: 20px;
}

.project-title {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 20px;
}

.project-description {
	font-size: 24px;
	font-weight: 400;
}

.projects {
	/*display: inline-table;*/
	padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
	.project-image {
		width: unset;
	}
}
